<h2>All about <%= @band.name %>! </h2>

<% if @band.albums.exists? %>
<h3>Albums</h3>
<ul>
  <% @band.albums.order(:year).each do |album| %>
  <li><%= link_to "#{album.title} (#{album.year})", album_url(album) %>
    <%= button_to 'Edit', edit_album_url(album), method: :get %>
    <%= button_to 'DELETE', album_url(album), method: :delete, data: {confirm: "Are you sure you want to delete this album?" } %>
  </li>
  <% end %>
</ul>
<% else %>
<p>No albums logged.</p>
<% end %>
<%= button_to 'Add an album', new_band_album_url(@band), method: :get %>
<br>
<%= button_to 'Return to bands index', bands_url, method: :get %>
<br>
<%= button_to 'Edit band name', edit_band_url(@band), method: :get%>
<br>
<%= button_to 'DELETE', band_url(@band), method: :delete, data: {confirm: "Are you sure you want to delete this band?" } %>
